<h1>reMINDer - Carer</h1>

<!-- user input fields -->
<input id="newtitle" type="text" placeholder="title">
<textarea id="newdescription" placeholder="description" rows="4" cols="50"></textarea>
<button id="submit" class="btn" onclick="submit()">Submit</button>

<br><br>

<!-- list of todo items -->
<ul class="collapsible" data-collapsible="accordion" id="list">
  {{#each list}}
      <li>
        <div class="collapsible-header">
          {{#if this.done}}
            <input type="checkbox" id="{{this._id}}" checked="checked">
            <label for="{{this._id}}" onclick="update('{{this._id}}', {{this.done}})"></label>
            <strike>{{this.title}}</strike>
          {{else}}
            <input type="checkbox" id="{{this._id}}">
            <label for="{{this._id}}" onclick="update('{{this._id}}', {{this.done}})"></label>
            {{this.title}}
          {{/if}}

          <button class="btn right" onclick="deleteitem('{{this._id}}')">Delete</button>
        </div>
        <div class="collapsible-body"><p>{{this.description}}</p></div>
      </li>
  {{/each}}
</ul>
