<h1>reMINDer - Patient</h1>


<ul class="collapsible" data-collapsible="accordion" id="list">
  {{#each list}}
      <li id="{{this.title}}">
        <div class="collapsible-header">
          {{#if this.done}}
            <strike>{{this.title}}</strike>
          {{else}}
            {{this.title}}
          {{/if}}
        </div>
        <div class="collapsible-body"><p>{{this.description}}</p></div>
      </li>
  {{/each}}
</ul>


<script src='https://code.responsivevoice.org/responsivevoice.js'></script>

<script>
  var socket = io.connect("https://cryptic-sea-98015.herokuapp.com/");
  socket.on('reminderpatient', function(data){
    console.log(data);
    responsiveVoice.speak("you have a new reminder, "+data.title);
    responsiveVoice.speak("Alexa, ask reminder what are my reminders?");

    var li = $('<li id="'+data._id+'"><div class="collapsible-header">'+title+'</div></li>');
    $('#list').append(li);
  });
  var socket = io.connect("https://cryptic-sea-98015.herokuapp.com/");
  socket.on('patientDeleted', function(data){
    console.log(data.title);
    responsiveVoice.speak("Item "+data.title+', has been deleted!');
    responsiveVoice.speak("Alexa, ask reminder what are my reminders?");

    var li = $('<li><div class="collapsible-header">'+title+'</div></li>');
    $('#list').remove(data.id);
  });

</script>
